<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      Welcome to <button class="btn btn-success">Friend Face!</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      You can't sign in yet :( But you're smart, you can add that functionality! Also, once you've done that, you can allow users to create posts! Finally, you can create a place to see all posts, or to see just their own posts. Won't that be fun?
    </div>
  </div>
</div>